@font-face {
    font-family: 'font-1 ';
    src: url('hellofont/font-1.otf') format('opentype');
}

.font-1 {
    font-family: 'font-1 ';
}

@font-face {
    font-family: 'font-2 ';
    src: url('hellofont/font-2.otf') format('opentype');
}

.font-2 {
    font-family: 'font-2 ';
}

@font-face {
    font-family: 'font-3 ';
    src: url('hellofont/font-3.otf') format('opentype');
}

.font-3 {
    font-family: 'font-3 ';
}

@font-face {
    font-family: 'font-4 ';
    src: url('hellofont/font-4.otf') format('opentype');
}

.font-4 {
    font-family: 'font-4 ';
}

@font-face {
    font-family: 'font-5 ';
    src: url('hellofont/font-5.otf') format('opentype');
}

.font-5 {
    font-family: 'font-5 ';
}

@font-face {
    font-family: 'font-6 ';
    src: url('hellofont/font-6.otf') format('opentype');
}

.font-6 {
    font-family: 'font-6 ';
}

@font-face {
    font-family: 'font-7 ';
    src: url('hellofont/font-7.otf') format('opentype');
}

.font-7 {
    font-family: 'font-7 ';
}

@font-face {
    font-family: 'font-8 ';
    src: url('hellofont/font-8.otf') format('opentype');
}

.font-8 {
    font-family: 'font-8 ';
}

@font-face {
    font-family: 'font-9 ';
    src: url('hellofont/font-9.otf') format('opentype');
}

.font-9 {
    font-family: 'font-9 ';
}

@font-face {
    font-family: 'font-10 ';
    src: url('hellofont/font-10.otf') format('opentype');
}

.font-10 {
    font-family: 'font-10 ';
}

@font-face {
    font-family: 'font-11 ';
    src: url('hellofont/font-11.otf') format('opentype');
}

.font-11 {
    font-family: 'font-11 ';
}

@font-face {
    font-family: 'font-12 ';
    src: url('hellofont/font-12.otf') format('opentype');
}

.font-12 {
    font-family: 'font-12 ';
}

@font-face {
    font-family: 'font-13 ';
    src: url('hellofont/font-13.otf') format('opentype');
}

.font-13 {
    font-family: 'font-13 ';
}

@font-face {
    font-family: 'font-14 ';
    src: url('hellofont/font-14.otf') format('opentype');
}

.font-14 {
    font-family: 'font-14 ';
}

@font-face {
    font-family: 'font-15 ';
    src: url('hellofont/font-15.otf') format('opentype');
}

.font-15 {
    font-family: 'font-15 ';
}

@font-face {
    font-family: 'font-16 ';
    src: url('hellofont/font-16.otf') format('opentype');
}

.font-16 {
    font-family: 'font-16 ';
}

@font-face {
    font-family: 'font-17 ';
    src: url('hellofont/font-17.otf') format('opentype');
}

.font-17 {
    font-family: 'font-17 ';
}

@font-face {
    font-family: 'font-18 ';
    src: url('hellofont/font-18.otf') format('opentype');
}

.font-18 {
    font-family: 'font-18 ';
}

@font-face {
    font-family: 'font-19 ';
    src: url('hellofont/font-19.otf') format('opentype');
}

.font-19 {
    font-family: 'font-19 ';
}

@font-face {
    font-family: 'font-20 ';
    src: url('hellofont/font-20.otf') format('opentype');
}

.font-20 {
    font-family: 'font-20 ';
}

@font-face {
    font-family: 'font-21 ';
    src: url('hellofont/font-21.otf') format('opentype');
}

.font-21 {
    font-family: 'font-21 ';
}

@font-face {
    font-family: 'font-22 ';
    src: url('hellofont/font-22.otf') format('opentype');
}

.font-22 {
    font-family: 'font-22 ';
}

@font-face {
    font-family: 'font-23 ';
    src: url('hellofont/font-23.otf') format('opentype');
}

.font-23 {
    font-family: 'font-23 ';
}

@font-face {
    font-family: 'font-24 ';
    src: url('hellofont/font-24.otf') format('opentype');
}

.font-24 {
    font-family: 'font-24 ';
}

@font-face {
    font-family: 'font-25 ';
    src: url('hellofont/font-25.otf') format('opentype');
}

.font-25 {
    font-family: 'font-25 ';
}

@font-face {
    font-family: 'font-26 ';
    src: url('hellofont/font-26.otf') format('opentype');
}

.font-26 {
    font-family: 'font-26 ';
}

@font-face {
    font-family: 'font-27 ';
    src: url('hellofont/font-27.otf') format('opentype');
}

.font-27 {
    font-family: 'font-27 ';
}

@font-face {
    font-family: 'font-28 ';
    src: url('hellofont/font-28.otf') format('opentype');
}

.font-28 {
    font-family: 'font-28 ';
}

@font-face {
    font-family: 'font-29 ';
    src: url('hellofont/font-29.otf') format('opentype');
}

.font-29 {
    font-family: 'font-29 ';
}

@font-face {
    font-family: 'font-30 ';
    src: url('hellofont/font-30.otf') format('opentype');
}

.font-30 {
    font-family: 'font-30 ';
}

@font-face {
    font-family: 'font-31 ';
    src: url('hellofont/font-31.otf') format('opentype');
}

.font-31 {
    font-family: 'font-31 ';
}

@font-face {
    font-family: 'font-32 ';
    src: url('hellofont/font-32.otf') format('opentype');
}

.font-32 {
    font-family: 'font-32 ';
}

@font-face {
    font-family: 'font-33 ';
    src: url('hellofont/font-33.otf') format('opentype');
}

.font-33 {
    font-family: 'font-33 ';
}

@font-face {
    font-family: 'font-34 ';
    src: url('hellofont/font-34.otf') format('opentype');
}

.font-34 {
    font-family: 'font-34 ';
}

@font-face {
    font-family: 'font-35 ';
    src: url('hellofont/font-35.otf') format('opentype');
}

.font-35 {
    font-family: 'font-35 ';
}

@font-face {
    font-family: 'font-36 ';
    src: url('hellofont/font-36.otf') format('opentype');
}

.font-36 {
    font-family: 'font-36 ';
}

@font-face {
    font-family: 'font-37 ';
    src: url('hellofont/font-37.otf') format('opentype');
}

.font-37 {
    font-family: 'font-37 ';
}

@font-face {
    font-family: 'font-38 ';
    src: url('hellofont/font-38.otf') format('opentype');
}

.font-38 {
    font-family: 'font-38 ';
}

@font-face {
    font-family: 'font-39 ';
    src: url('hellofont/font-39.otf') format('opentype');
}

.font-39 {
    font-family: 'font-39 ';
}

@font-face {
    font-family: 'font-40 ';
    src: url('hellofont/font-40.otf') format('opentype');
}

.font-40 {
    font-family: 'font-40 ';
}

@font-face {
    font-family: 'font-41 ';
    src: url('hellofont/font-41.otf') format('opentype');
}

.font-41 {
    font-family: 'font-41 ';
}

@font-face {
    font-family: 'font-42 ';
    src: url('hellofont/font-42.otf') format('opentype');
}

.font-42 {
    font-family: 'font-42 ';
}

@font-face {
    font-family: 'font-43 ';
    src: url('hellofont/font-43.otf') format('opentype');
}

.font-43 {
    font-family: 'font-43 ';
}

@font-face {
    font-family: 'font-44 ';
    src: url('hellofont/font-44.otf') format('opentype');
}

.font-44 {
    font-family: 'font-44 ';
}

@font-face {
    font-family: 'font-45 ';
    src: url('hellofont/font-45.otf') format('opentype');
}

.font-45 {
    font-family: 'font-45 ';
}

@font-face {
    font-family: 'font-46 ';
    src: url('hellofont/font-46.otf') format('opentype');
}

.font-46 {
    font-family: 'font-46 ';
}

@font-face {
    font-family: 'font-47 ';
    src: url('hellofont/font-47.otf') format('opentype');
}

.font-47 {
    font-family: 'font-47 ';
}

@font-face {
    font-family: 'font-48 ';
    src: url('hellofont/font-48.otf') format('opentype');
}

.font-48 {
    font-family: 'font-48 ';
}

@font-face {
    font-family: 'font-49 ';
    src: url('hellofont/font-49.otf') format('opentype');
}

.font-49 {
    font-family: 'font-49 ';
}

@font-face {
    font-family: 'font-50 ';
    src: url('hellofont/font-50.otf') format('opentype');
}

.font-50 {
    font-family: 'font-50 ';
}

@font-face {
    font-family: 'font-51 ';
    src: url('hellofont/font-51.otf') format('opentype');
}

.font-51 {
    font-family: 'font-51 ';
}

@font-face {
    font-family: 'font-52 ';
    src: url('hellofont/font-52.otf') format('opentype');
}

.font-52 {
    font-family: 'font-52 ';
}

@font-face {
    font-family: 'font-53 ';
    src: url('hellofont/font-53.otf') format('opentype');
}

.font-53 {
    font-family: 'font-53 ';
}

@font-face {
    font-family: 'font-54 ';
    src: url('hellofont/font-54.otf') format('opentype');
}

.font-54 {
    font-family: 'font-54 ';
}

@font-face {
    font-family: 'font-55 ';
    src: url('hellofont/font-55.otf') format('opentype');
}

.font-55 {
    font-family: 'font-55 ';
}

@font-face {
    font-family: 'font-56 ';
    src: url('hellofont/font-56.otf') format('opentype');
}

.font-56 {
    font-family: 'font-56 ';
}

@font-face {
    font-family: 'font-57 ';
    src: url('hellofont/font-57.otf') format('opentype');
}

.font-57 {
    font-family: 'font-57 ';
}

@font-face {
    font-family: 'font-58 ';
    src: url('hellofont/font-58.otf') format('opentype');
}

.font-58 {
    font-family: 'font-58 ';
}

@font-face {
    font-family: 'font-59 ';
    src: url('hellofont/font-59.otf') format('opentype');
}

.font-59 {
    font-family: 'font-59 ';
}

@font-face {
    font-family: 'font-60 ';
    src: url('hellofont/font-60.otf') format('opentype');
}

.font-60 {
    font-family: 'font-60 ';
}

@font-face {
    font-family: 'font-61 ';
    src: url('hellofont/font-61.otf') format('opentype');
}

.font-61 {
    font-family: 'font-61 ';
}

@font-face {
    font-family: 'font-62 ';
    src: url('hellofont/font-62.otf') format('opentype');
}

.font-62 {
    font-family: 'font-62 ';
}

@font-face {
    font-family: 'font-63 ';
    src: url('hellofont/font-63.otf') format('opentype');
}

.font-63 {
    font-family: 'font-63 ';
}

@font-face {
    font-family: 'font-64 ';
    src: url('hellofont/font-64.otf') format('opentype');
}

.font-64 {
    font-family: 'font-64 ';
}

@font-face {
    font-family: 'font-65 ';
    src: url('hellofont/font-65.otf') format('opentype');
}

.font-65 {
    font-family: 'font-65 ';
}

@font-face {
    font-family: 'font-66 ';
    src: url('hellofont/font-66.otf') format('opentype');
}

.font-66 {
    font-family: 'font-66 ';
}

@font-face {
    font-family: 'font-67 ';
    src: url('hellofont/font-67.otf') format('opentype');
}

.font-67 {
    font-family: 'font-67 ';
}

@font-face {
    font-family: 'font-68 ';
    src: url('hellofont/font-68.otf') format('opentype');
}

.font-68 {
    font-family: 'font-68 ';
}

@font-face {
    font-family: 'font-69 ';
    src: url('hellofont/font-69.otf') format('opentype');
}

.font-69 {
    font-family: 'font-69 ';
}

@font-face {
    font-family: 'font-70 ';
    src: url('hellofont/font-70.otf') format('opentype');
}

.font-70 {
    font-family: 'font-70 ';
}

@font-face {
    font-family: 'font-71 ';
    src: url('hellofont/font-71.otf') format('opentype');
}

.font-71 {
    font-family: 'font-71 ';
}

@font-face {
    font-family: 'font-72 ';
    src: url('hellofont/font-72.otf') format('opentype');
}

.font-72 {
    font-family: 'font-72 ';
}

@font-face {
    font-family: 'font-73 ';
    src: url('hellofont/font-73.otf') format('opentype');
}

.font-73 {
    font-family: 'font-73 ';
}

@font-face {
    font-family: 'font-74 ';
    src: url('hellofont/font-74.otf') format('opentype');
}

.font-74 {
    font-family: 'font-74 ';
}

@font-face {
    font-family: 'font-75 ';
    src: url('hellofont/font-75.otf') format('opentype');
}

.font-75 {
    font-family: 'font-75 ';
}

@font-face {
    font-family: 'font-76 ';
    src: url('hellofont/font-76.otf') format('opentype');
}

.font-76 {
    font-family: 'font-76 ';
}

@font-face {
    font-family: 'font-77 ';
    src: url('hellofont/font-77.otf') format('opentype');
}

.font-77 {
    font-family: 'font-77 ';
}

@font-face {
    font-family: 'font-78 ';
    src: url('hellofont/font-78.otf') format('opentype');
}

.font-78 {
    font-family: 'font-78 ';
}

@font-face {
    font-family: 'font-79 ';
    src: url('hellofont/font-79.otf') format('opentype');
}

.font-79 {
    font-family: 'font-79 ';
}

@font-face {
    font-family: 'font-80 ';
    src: url('hellofont/font-80.otf') format('opentype');
}

.font-80 {
    font-family: 'font-80 ';
}

@font-face {
    font-family: 'font-81 ';
    src: url('hellofont/font-81.otf') format('opentype');
}

.font-81 {
    font-family: 'font-81 ';
}

@font-face {
    font-family: 'font-82 ';
    src: url('hellofont/font-82.otf') format('opentype');
}

.font-82 {
    font-family: 'font-82 ';
}

@font-face {
    font-family: 'font-83 ';
    src: url('hellofont/font-83.otf') format('opentype');
}

.font-83 {
    font-family: 'font-83 ';
}

@font-face {
    font-family: 'font-84 ';
    src: url('hellofont/font-84.otf') format('opentype');
}

.font-84 {
    font-family: 'font-84 ';
}

@font-face {
    font-family: 'font-85 ';
    src: url('hellofont/font-85.otf') format('opentype');
}

.font-85 {
    font-family: 'font-85 ';
}

@font-face {
    font-family: 'font-86 ';
    src: url('hellofont/font-86.otf') format('opentype');
}

.font-86 {
    font-family: 'font-86 ';
}

@font-face {
    font-family: 'font-87 ';
    src: url('hellofont/font-87.otf') format('opentype');
}

.font-87 {
    font-family: 'font-87 ';
}

@font-face {
    font-family: 'font-88 ';
    src: url('hellofont/font-88.otf') format('opentype');
}

.font-88 {
    font-family: 'font-88 ';
}

@font-face {
    font-family: 'font-89 ';
    src: url('hellofont/font-89.otf') format('opentype');
}

.font-89 {
    font-family: 'font-89 ';
}

@font-face {
    font-family: 'font-90 ';
    src: url('hellofont/font-90.otf') format('opentype');
}

.font-90 {
    font-family: 'font-90 ';
}

@font-face {
    font-family: 'font-91 ';
    src: url('hellofont/font-91.otf') format('opentype');
}

.font-91 {
    font-family: 'font-91 ';
}

@font-face {
    font-family: 'font-92 ';
    src: url('hellofont/font-92.otf') format('opentype');
}

.font-92 {
    font-family: 'font-92 ';
}

@font-face {
    font-family: 'font-93 ';
    src: url('hellofont/font-93.otf') format('opentype');
}

.font-93 {
    font-family: 'font-93 ';
}

@font-face {
    font-family: 'font-94 ';
    src: url('hellofont/font-94.otf') format('opentype');
}

.font-94 {
    font-family: 'font-94 ';
}

@font-face {
    font-family: 'font-95 ';
    src: url('hellofont/font-95.otf') format('opentype');
}

.font-95 {
    font-family: 'font-95 ';
}

@font-face {
    font-family: 'font-96 ';
    src: url('hellofont/font-96.otf') format('opentype');
}

.font-96 {
    font-family: 'font-96 ';
}